{% extends "base.html" %}
{% load static %}

{% block base_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock base_head %}

{% block content %}
	<div class="text-center">
		<h1>{{ title }}</h1>
		<h1>Hello, world!</h1>
	</div>

	<div class='row'>
			<div class="col">
				<p>{{ content }}</p>
			</div>
	</div>

	{% if request.user.is_authenticated %}
	<div class='row'>
			<div class="col">
				<p>This will be premium content</p>
				<p>{{ premium_content }}</p>
			</div>
	</div>
	{% endif %}

{% endblock content %}